.Login-Subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px #172A3A;
}

.login-section {
    display:block;
    flex-direction:column;
    text-align: center;
}